/* Generic */
.spacing {
  margin-top: 1em;
}

/* London */
#london-wrapper {
  background-color: #ECECED;
  display: flex;
  justify-content: center;
}

.london-calling {
  padding: 64px 0px;
  width: 992px;
  height: 300px;
}
.london-calling h2 {
  -ms-margin: 0 0px;
  margin: 0px 0px;
  font-size: 44px;
  font-weight: 300;
  font-family: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
}
.london-calling span {
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  letter-spacing: 0.004em;
  max-width: 75ch;
}
.london-calling p {
  margin-top: 1em;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-weight: 300;
  max-width: 75ch;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.67;
  letter-spacing: 0.004em;
}
.london-calling a {
  margin-top: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.london-calling button {
  width: auto;
  font-family: "Open Sans", helvetica, arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.004em;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  text-wrap: balance;
  padding: 16px 24px;
  transition: background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #2e5c99;
  font-size: 16px;
  border: 1px solid #2e5c99;
  border-radius: 2px;
}
.london-calling button:hover {
  background-color: red;
  transition-duration: 0.75s;
  background-color: #2e5c99;
  color: white;
  border: 1px solid white;
}

/* Toolbar */
.toolbar-grid {
  margin: 0 auto;
  display: grid;
  place-self: center;
  align-content: center;
  gap: 10px;
  width: 992px;
  padding: 64px;
}

.toolbar-item {
  padding: 24px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.toolbar-item a {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 4px;
  /*box-shadow: currentColor 0px -1px inset;*/
  color: #2e5c99;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.004em;
}
.toolbar-item a span {
  font-size: 1.25rem;
  color: #2671d3;
  text-decoration-thickness: 0.001px;
}
.toolbar-item a span:hover {
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: #021b41;
}

#topic-wrapper {
  background-color: white;
}

.topic-grid {
  margin: 0 auto;
  margin-bottom: 60px;
  display: grid;
  align-content: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
  width: 992px;
}

.topic-item {
  display: flex;
  flex-direction: column;
  height: 620px;
  min-height: 300px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.topic-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.topic-content {
  padding: 24px;
}
.topic-content .topic-content-block {
  margin-top: 12px;
}
.topic-content .topic-content-fine {
  font-size: 0.75rem;
}
.topic-content .topic-content-paragraph {
  font-size: 1rem;
  box-sizing: border-box;
}

.topic-action {
  margin-top: auto;
  padding: 0px 24px 24px;
}

.topic-content-link {
  text-decoration: none;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 4px;
  box-shadow: currentColor 0px -1px inset;
  color: #2e5c99;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.004em;
}
.topic-content-link:hover {
  transition-duration: 0.25s;
  color: black;
  cursor: pointer;
}/*# sourceMappingURL=body.css.map */