// Variables
$main-color: #021b41;
$secondary-color: #2e5c99;
$terciary-color: white;
$link-color: #2671d3;
$schedule-menu-text-color: rgb(113, 115, 127);
$font-open-sans: "Open sans", helvetica, arial, sans-serif;
$font-mylius-modern: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
$search-buttons-width: 250px;
$search-buttons-height: 50px;
$main-fontsize: 16px;

// Mix-ins
@mixin no-internal-spacement {
    padding: 0px 0px;
}

@mixin no-external-spacement {
    -ms-margin: 0 0px;
    margin: 0px 0px;
}

@mixin form-bottom-border {
    border-bottom: 1px solid #b6b7bd;
}

@mixin arrow-icon-sizing {
    width: 15px;
    height: 15px;
}

@mixin centralize {
    margin: 0 auto;
}

/* Generic */
.spacing {
    margin-top: 1em;
}

/* London */
#london-wrapper {
    background-color: #ECECED;
    display: flex;
    justify-content: center;
}

.london-calling {
    padding: 64px 0px;
    width: 992px;
    height: 300px;
    

    h2 {
        @include no-external-spacement;
        font-size: 44px;
        font-weight: 300;
        font-family: $font-mylius-modern;
    }
    span {
        font-family: Open Sans, helvetica, arial, sans-serif;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 1.67;
        letter-spacing: 0.004em;
        max-width: 75ch;
    }

    p {
        margin-top: 1em;
        font-family: Open Sans, helvetica, arial, sans-serif;
        font-weight: 300;
        max-width: 75ch;
        font-family: Open Sans, helvetica, arial, sans-serif;
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 1.67;
        letter-spacing: 0.004em;
    }

    a {
        margin-top: 1em;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    button { //london calling button
        width: auto;
        font-family: "Open Sans", helvetica, arial, sans-serif;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5;
        letter-spacing: 0.004em;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        text-wrap: balance;
        padding: 16px 24px;
        transition: background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        
        color: $secondary-color;
        font-size: $main-fontsize;
        border: 1px solid $secondary-color;
        border-radius: 2px;

        &:hover {
            background-color: red;
            transition-duration: 0.75s;
            background-color: $secondary-color;
            color: $terciary-color;
            border: 1px solid $terciary-color;
        }
    }
}




/* Toolbar */
.toolbar-grid {
    @include centralize();
    display: grid;
    place-self: center;
    align-content: center;
    gap: 10px;
    width: 992px;
    padding: 64px;
}

.toolbar-item {
    padding: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    a {
        display: flex;
        width: fit-content;
        padding-bottom: 4px;
        /*box-shadow: currentColor 0px -1px inset;*/
        color: $secondary-color;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.004em;

        span {
            font-size: 1.25rem;
            color: $link-color;
            text-decoration-thickness: 0.001px;

            &:hover {
                transition: color .2s cubic-bezier(.645, .045, .355, 1);
                color: $main-color;
            }
        }
    }
}

// Topics
#topic-wrapper {
    background-color: $terciary-color;
}



.topic-action {
    margin-top: auto;
    padding: 0px 24px 24px;
}

.topic-content-link {
    text-decoration: none;

    display: flex;
    width: fit-content;
    padding-bottom: 4px;
    box-shadow: currentColor 0px -1px inset;
    color: $secondary-color;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.004em;

    &:hover {
        transition-duration: 0.25s;
        color: black;
        cursor: pointer;
    }
}
