// Variables
$main-color: #021b41;
$secondary-color: #2e5c99;
$terciary-color: white;
$link-color: #2671d3;
$schedule-menu-text-color: rgb(113, 115, 127);
$font-open-sans: "Open sans", helvetica, arial, sans-serif;
$font-mylius-modern: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
$search-buttons-width: 250px;
$search-buttons-height: 50px;
$main-fontsize: 16px;

// Mix-ins
@mixin no-internal-spacement {
    padding: 0px 0px;
}

@mixin no-external-spacement {
    -ms-margin: 0 0px;
    margin: 0px 0px;
}

@mixin form-bottom-border {
    border-bottom: 1px solid #b6b7bd;
}

@mixin arrow-icon-sizing {
    width: 15px;
    height: 15px;
}

@mixin centralize {
    margin: 0 auto;
}
footer {
    display: grid;
    justify-items: center;
    gap: 24px;
    padding: 24px 5% 24px 5%;
    color: $terciary-color;
    background-color: $main-color;
}

.footer-links {
    max-width: 75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    display: flex;
    padding-left: 12px;
    margin-bottom: 8px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-links a:not(:last-child)::after {
    padding-left: 12px;
    content: "|";
}

.footer-icons {
    display: flex;

    list-style: none;
}

.footer-icons li {
    min-width: 48px;
    fill: $terciary-color
}

.footer-icons li a svg {
    width: 22px;
    height: 22px;
    fill: $terciary-color
}

#footer_ba_logo {
    width: 91px;
    height: 24px
}

#footer-legal {
    font-size: 0.75rem;
}