$main-color: #021b41;
$secondary-color: #2e5c99;
$terciary-color: white;
$link-color: #2671d3;
$schedule-menu-text-color: rgb(113, 115, 127);
$font-open-sans: "Open sans", helvetica, arial, sans-serif;
$font-mylius-modern: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
$search-buttons-width: 250px;
$search-buttons-height: 50px;
$main-fontsize: 16px;

// Mix-ins
@mixin no-internal-spacement {
    padding: 0px 0px;
}

@mixin no-external-spacement {
    -ms-margin: 0 0px;
    margin: 0px 0px;
}

@mixin form-bottom-border {
    border-bottom: 1px solid #b6b7bd;
}

@mixin arrow-icon-sizing {
    width: 15px;
    height: 15px;
}

@mixin centralize {
    margin: 0 auto;
}



#nav_list {
    @include no-internal-spacement;
    display: flex;
    list-style: none;
    align-items: center;
}


.nav_button {
    display: flex;
    flex-direction: row;
    width: auto;
    height: 48px;
    padding: 0px 12px;
    background-color: $terciary-color;
    border: none;
    align-items: center;

    &:first-of-type {
        padding-left: 0px;
    }
}

// Select bar Animation
.nav_button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: $secondary-color;
    transition: width 0.8s ease, right 0.8s ease;
}

.nav_button:hover::after {
    width: 80%;
    right: auto;
}



.nav_button span {
    font-size: 1rem;
    font-weight: 300px;
    font-family: $font-mylius-modern;
}




#arrow-icon {
    @include arrow-icon-sizing;
}

#link-arrow-icon {
    @include arrow-icon-sizing;
    padding-top: 10px;
    transform: rotate(270deg);
}

.nav_button {
    position: relative;
    .arrow-icon-container {
        padding-left: 8px;
    }

    &:hover {
        .nav_dropdown_container{
            visibility: visible;
            display: block;
            opacity: 1;
            visibility: visible;
            opacity: 1;
        }

        #arrow-icon {
            transform: rotate(180deg);
            transform-origin: center;
            transition-duration: 0.25s;
            cursor: pointer;
        }
    }


    &:not(:hover) {
        #arrow-icon {
            transform: rotate(0deg);
            transition-duration: 0.25s;
        }
    }


    .nav_dropdown_container {
        visibility: hidden;
        display: block;
        position: fixed;
        transition: opacity 1s;
        opacity: 0;
        top: 137px;
        left: 0;
        padding: 24px 0px;
        color: $main-color;
        background-color: $terciary-color;
        width: 100vw;
        z-index: 1000;

    &:hover{
        display: block;
        opacity: 100;
        visibility: visible;
        opacity: 1;
    }
        
        .nav_dropdown_grid {
            gap: 24px;
            margin: 0 auto;
            display: grid;
            background-color: $terciary-color;
            grid-template-rows: 1fr;
            width: 1200px;
            gap: 40px;
    
            .nav_dropdown_grid_item {
                text-align: left;

                h2 {
                    margin: 0px;
                    font-family: $font-mylius-modern;
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 1.75;
                    letter-spacing: 0.012em;
                }

                a {
                    display: block;
                    color: $link-color;
                    text-decoration: none;
                    font-family: $font-open-sans;
                    font-weight: 300;
                    font-size: 1rem;
                    line-height: 1.5;
                    letter-spacing: .004em;
                    padding-top: 8px;
                }
                
                ul {
                    list-style-type: none;
                    padding-left: 0;
                }
            }
        }
    }
}


#nav_countryselector {
    display: flex;
    margin-left: auto;
    align-items: center;
    position: relative;
}

#nav_countryselector::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background: $secondary-color;
    transition: width 0.5s ease, right 0.5s ease;
}

#nav_countryselector:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

#nav_countryselector img {
    width: 22px;
    height: 16px;
    margin-right: 10px;
    object-fit: cover;
}








#nav_text_title {
    color: $main-color;
    // Não finalizado
}


