#nav {
  display: flex;
  flex-direction: row;
  width: 1200px;
  height: 48px;
  padding: 0px 24px;
  border-top: 1px solid rgb(236, 236, 237);
  vertical-align: middle;
  margin: 0 auto;
}

#nav_list {
  padding: 0px 0px;
  display: flex;
  list-style: none;
  align-items: center;
}

.nav_button {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 48px;
  padding: 0px 12px;
  background-color: white;
  border: none;
  align-items: center;
}
.nav_button:first-of-type {
  padding-left: 0px;
}

.nav_button::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 3px;
  background: #2e5c99;
  transition: width 0.8s ease, right 0.8s ease;
}

.nav_button:hover::after {
  width: 80%;
  right: auto;
}

.nav_button span {
  font-size: 1rem;
  font-weight: 300px;
  font-family: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
}

#arrow-icon {
  width: 15px;
  height: 15px;
}

#link-arrow-icon {
  width: 15px;
  height: 15px;
  padding-top: 10px;
  transform: rotate(270deg);
}

.nav_button {
  position: relative;
}
.nav_button .arrow-icon-container {
  padding-left: 8px;
}
.nav_button:hover .nav_dropdown_container {
  background-color: red;
  display: block;
  opacity: 100;
  visibility: visible;
  opacity: 1;
}
.nav_button:hover #arrow-icon {
  transform: rotate(180deg);
  transform-origin: center;
  transition-duration: 0.25s;
  cursor: pointer;
}
.nav_button:not(:hover) #arrow-icon {
  transform: rotate(0deg);
  transition-duration: 0.25s;
}
.nav_button .nav_dropdown_container {
  display: none;
  position: fixed;
  background-color: red;
  transition: opacity 1s;
  opacity: 1;
  top: 138px;
  left: 0;
  padding: 24px 0px;
  color: #021b41;
  background-color: white;
  width: 100vw;
  z-index: 3;
}
.nav_button .nav_dropdown_container:hover {
  display: block;
  opacity: 100;
  visibility: visible;
  opacity: 1;
}
.nav_button .nav_dropdown_container .nav_dropdown_grid {
  margin: 0 auto;
  display: grid;
  background-color: white;
  grid-template-rows: 1fr;
  width: 1200px;
  gap: 40px;
}
.nav_button .nav_dropdown_container .nav_dropdown_grid.cl3 {
  grid-template-columns: repeat(3, 1fr);
}
.nav_button .nav_dropdown_container .nav_dropdown_grid.cl5 {
  grid-template-columns: repeat(5, 1fr);
}
.nav_button .nav_dropdown_container .nav_dropdown_grid.cl6 {
  grid-template-columns: repeat(6, 1fr);
}
.nav_button .nav_dropdown_container .nav_dropdown_grid .nav_dropdown_grid_item {
  text-align: left;
}
.nav_button .nav_dropdown_container .nav_dropdown_grid .nav_dropdown_grid_item h2 {
  margin: 0px;
  font-family: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.75;
  letter-spacing: 0.012em;
}
.nav_button .nav_dropdown_container .nav_dropdown_grid .nav_dropdown_grid_item a {
  display: block;
  color: #2671d3;
  text-decoration: none;
  font-family: Open Sans, helvetica, arial, sans-serif;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.004em;
  padding-top: 8px;
}
.nav_button .nav_dropdown_container .nav_dropdown_grid .nav_dropdown_grid_item ul {
  list-style-type: none;
  padding-left: 0;
}

#nav_countryselector {
  display: flex;
  margin-left: auto;
  align-items: center;
  position: relative;
}

#nav_countryselector::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 4px;
  background: #2e5c99;
  transition: width 0.5s ease, right 0.5s ease;
}

#nav_countryselector:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

#nav_countryselector img {
  width: 22px;
  height: 16px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

#nav_text_title {
  color: #021b41;
}/*# sourceMappingURL=nav.css.map */