$main-color: #021b41;
$secondary-color: #2e5c99;
$terciary-color: white;
$link-color: #2671d3;
$schedule-menu-text-color: rgb(113, 115, 127);
$font-open-sans: "Open sans", helvetica, arial, sans-serif;
$font-mylius-modern: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
$search-buttons-width: 250px;
$search-buttons-height: 50px;
$main-fontsize: 16px;

// Mix-ins
@mixin no-internal-spacement {
    padding: 0px 0px;
}

@mixin no-external-spacement {
    -ms-margin: 0 0px;
    margin: 0px 0px;
}

@mixin form-bottom-border {
    border-bottom: 1px solid #b6b7bd;
}

@mixin arrow-icon-sizing {
    width: 15px;
    height: 15px;
}

@mixin centralize {
    margin: 0 auto;
}

nav {
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 48px;
    padding: 0px 24px;
    border-top: 1px solid rgb(236, 236, 237);
    vertical-align: middle;
    @include centralize;

}

#nav_list {
    @include no-internal-spacement;
    display: flex;
    list-style: none;
    align-items: center;
}


.nav_button {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
    height: 48px;
    padding: 0px 12px;
    background-color: $terciary-color;
    border: none;

    align-items: center;
}

// Select bar Animation
.nav_button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background: $secondary-color;
    transition: width 0.8s ease, right 0.8s ease;
}

.nav_button:hover::after {
    width: 80%;
    right: auto;
}

#nav_list li:first-child .header_nav_button {
    padding-left: 0px;
}

.nav_button span {
    font-size: 1rem;
    font-weight: 300px;
    font-family: $font-mylius-modern;
}




#arrow-icon {
    @include arrow-icon-sizing;
}

#link-arrow-icon {
    @include arrow-icon-sizing;
    padding-top: 10px;
    transform: rotate(270deg);
}

.nav_button {
    .arrow-icon-container {
        padding-left: 8px;
    }

    &:hover {
        .nav_dropdown_container{
            position: absolute;
            display: block;
            opacity: 100;
            visibility: visible;
            opacity: 1;
        }

        #arrow-icon {
            transform: rotate(180deg);
            transform-origin: center;
            transition-duration: 0.25s;
            cursor: pointer;
        }
    }


    &:not(:hover) {
        #arrow-icon {
            transform: rotate(0deg);
            transition-duration: 0.25s;
        }
    }


    .nav_dropdown_container {
        display: block; //debug
        position: absolute;
        transition: opacity 1s;
        opacity: 100;
        top: 100%;
        left: 0;
        color: $main-color;
        background-color: $terciary-color;
        //background-color: blue; //debug
        width: 100vw;
        z-index: 3;

    &:hover{
        display: block;
        opacity: 100;
        visibility: visible;
        opacity: 1;
    }
        .nav_dropdown_grid {
            background-color: $terciary-color;
            display: grid;
            grid-template-columns: repeat(auto-fill, 1fr);
            grid-template-rows: 1fr;
            width: 1200px;
            gap: 10px;
    
            .nav_dropdown_grid_item {
                padding: 0px 12px;
                margin-top: 20px;
                text-align: left;
                p {
                    margin-bottom: 10px;
                }
    
                * {
                    display: block;
                    padding-left: 0px;
                }
            }
        }
    }
}


#nav_countryselector {
    display: flex;
    margin-left: auto;
    align-items: center;
    position: relative;
}

#nav_countryselector::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 4px;
    background: $secondary-color;
    transition: width 0.5s ease, right 0.5s ease;
}

#nav_countryselector:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}

#nav_countryselector img {
    width: 22px;
    height: 16px;
    margin-right: 10px;
    object-fit: cover;
}







#nav-descubra:hover>#header_text_descubra {
    background-color: $terciary-color;
    // Dimensões do Menu descubra
}

#nav-reservar:hover>#header_text_reservar {
    background-color: $terciary-color;
    // Dimensões do Menu reservar
}

#nav-gerir:hover>#header_text_gerir {
    background-color: $terciary-color;
    // Dimensẽos do Menu gerir
}

#nav-checkin:hover>#header_text_checkin {
    background-color: $terciary-color;
    // Dimensões do Menu checkin
}

#nav-ajuda:hover>#header_text_ajuda {
    background-color: $terciary-color;
    // Dimensões do Menu ajuda
}

#nav_text_title {
    color: $main-color;
    // Não finalizado
}

#nav_text_list {
    list-style-type: none;
    
    // Não finalizado
}

.nav_text_item a {
    color: $link-color;
    text-decoration: none;
    margin-bottom: 5px;
    // Não finalizado
}