// Variables
$main-color: #021b41;
$secondary-color: #2e5c99;
$terciary-color: white;
$link-color: #2671d3;
$schedule-menu-text-color: rgb(113, 115, 127);
$font-open-sans: "Open sans", helvetica, arial, sans-serif;
$font-mylius-modern: "Mylius Modern", "Open Sans", helvetica, arial, sans-serif;
$search-buttons-width: 250px;
$search-buttons-height: 50px;
$main-fontsize: 16px;

// Mix-ins
@mixin no-internal-spacement {
    padding: 0px 0px;
}

@mixin no-external-spacement {
    -ms-margin: 0 0px;
    margin: 0px 0px;
}

@mixin form-bottom-border {
    border-bottom: 1px solid #b6b7bd;
}

@mixin arrow-icon-sizing {
    width: 15px;
    height: 15px;
}

@mixin centralize {
    margin: 0 auto;
}

// General Config
* {
    @include no-external-spacement;
    appearance: none;
    color: $main-color;
}

html {
    font-family: $font-open-sans;
    font-size: $main-fontsize;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.004em;
}




// Classes dinâmicas para as grids

// Configurable variables
$max-columns: 12; // Maximum number of columns
$row-height: auto; // Default row height
$gap: 1rem; // Default gap

// Mixin for grid container
@mixin grid-container($gap: 1rem) {
  display: grid;
  gap: $gap;
}


// Columns
@for $i from 1 through $max-columns {
    .grid-cols-#{$i} {
      @include grid-container($gap);
      grid-template-columns: repeat($i, 1fr);
    }
  }
  
  // Rows
  @for $j from 1 through 12 {
    .grid-rows-#{$j} {
      grid-template-rows: repeat($j, $row-height);
    }
  }
  
  // Column Spans
  @for $k from 1 through $max-columns {
    .col-span-#{$k} {
      grid-column: span #{$k};
    }
  }
  
  // Row Spans
  @for $l from 1 through 12 {
    .row-span-#{$l} {
      grid-row: span #{$l};
    }
  }


p, ul, ol {
	font-family: Open Sans, helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 1rem;
	line-height: 1.5;
	letter-spacing: 0.004em;
	max-width: 75ch;
}

a {
	transition: color .2s cubic-bezier(.645,.045,.355,1);
	color: $link-color;
}


.content-summary {
    font-family: Mylius Modern, Open Sans, helvetica, arial, sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.6;
    letter-spacing: 0.012em;
}

.small-print {
	font-family: Open Sans, helvetica, arial, sans-serif;
	font-weight: 300;
	font-size: 0.75rem;
	line-height: 1.67;
	letter-spacing: 0.004em;
}

button {
    font-family: Open Sans, helvetica, arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.004em;
    cursor: pointer;
    border: medium;
    border-radius: 2px;
    width: 100%;
    text-wrap: balance;
    padding: 16px 24px;
    transition: background-color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);

    &.button-secondary {
        background-color: transparent;
        color: $secondary-color;
        border-color: $secondary-color;
        border-width: 1px;
        border-style: solid;
        padding: 15px 23px;
    }
}


.card {
    display: block;
    height: 100%;
    min-height: 300px;
    max-height: 487.75px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.body {
    padding: 24px;
}

.action {
	padding: 0px 24px 24px;
	margin-top: auto;
}


img {
	display: block;
	position: absolute;
	inset: 0px;
	width: auto;
	height: 100%;
	object-fit: inherit;
	opacity: 1;
	object-position: inherit;
}

.image-wrapper {
	position: relative;
	padding-top: calc(9 / 16) * 100%;
	object-fit: contain;
	overflow: hidden;
	height: fit-content;
}



// Specific sections CSS

// Topic
.topic-grid {
    @include centralize;
    margin-bottom: 60px;
    display: grid;
    align-content: center;
    width: 992px;
    gap: 40px;
}