* {
    font-family: "Open Sans", helvetica, arial, sans-serif;
    font-size: 1rem;
}


/* Toolbar */
.toolbar-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-self: center;
    align-content: center;
    gap:10px;
    width: 992px;
    padding: 64px;
}
.toolbar-item {
    padding: 24px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.toolbar-item a {
    font-size: 1.25rem;
}

/* Topic */
#topic-wrapper {
    background-color: white;
}
.topic-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto;
    place-self: center;
    align-content: center;
    
    column-gap: 48px;
    row-gap: 40px;
    width: 992px;
}
.topic-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 300px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.topic-item img {
    width: 100%;
    object-fit: cover;
}

.topic-content {
    padding: 24px;
}
.topic-content-block {
    margin-top: 12px;
}
.topic-content-title {
    font-size: 1.25rem;
}
.topic-content-fine {
    font-size: 0.75rem;
}
.topic-content-paragraph {
    font-size: 1rem;
}
.topic-action {
    margin-top: auto;
    padding: 0px 24px 24px;
}
.topic-content-link {
    display: flex;
    width: fit-content;
    padding-bottom: 4px;
    box-shadow: currentColor 0px -1px inset;
    color: #2671D3;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.004em;
}



/* Footer */
footer {
    display: grid;
    justify-items: center;
    gap: 24px;
    padding: 24px 5% 24px 5%;
    color: white;
    background-color: #021b41;
}

.footer-links{
    display: flex;
    flex-wrap: wrap;
}

.footer-links a{
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    position: relative;
    display: flex;
    padding-left: 12px;
    margin-bottom: 8px;
}

.footer-links a:not(:last-child)::after  {
    padding-left: 12px;
    content: "|";
}

.footer-icons {
    display: flex;

    list-style: none;
}
.footer-icons li {
    min-width: 48px;
    fill: white
}
.footer-icons li a svg {
    width: 22px;
    height: 22px;
    fill: white
}





